<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>GID - Easy way of mainting GIT Repositories</title>
    <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='css/reset.css')}}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='css/960.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}" />
    <link href='http://fonts.googleapis.com/css?family=Andika' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="header">

      <div class="container">

        <div id="title">
          <h1><a href="{{url_for('index')}}">Gid</a></h1>
        </div>

        <div id="nav">
           <ul>
             {% if session["identity.name"] %}
               <li>
                 Logged in as
                 <a href="{{url_for('users',username=session['identity.name'])}}">{{session['identity.name']}}</a>
               </li>
               <li><a href="{{url_for('repos',username=session['identity.name'])}}">Repositories</a></li>
               <li><a href="{{url_for('session')}}">Account</a></li>
               <li><a href="{{url_for('session')}}?__METHOD_OVERRIDE__=DELETE">Logout</a></li>
             {% else %}
               <li><a href="{{url_for('userNewForm')}}">register</a></li>
               <li><a href="{{url_for('session')}}">login</a></li>
             {%endif%}
           </ul>
         </div>
      </div>
    </div>

    <div id="content">
      {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
          <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{category}}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      {% block body %}{% endblock %}
    </div>

    <div id="footer">
      Gid is open source.
    </div>
  </body>
</html>
