{% extends "layout.html" %}
{% block body %}
<h1>User</h1>
<h2>
  {{user['name']}}
 <small>{{user['email']}}</small>
</h2>

<h2>Own repositories</h2>
<ul class="repos">
  {% for repo in user['repositories']['own']%}
    <li class="button repo white">
      <a
      href="{{url_for('repoShowByUserAndRepository',username=user['name'],repository=repo)}}">
        {{repo}}
      </a>
    </li>
  {% else %}
    <li>No Repositories</li>
  {% endfor %}
</ul>

<h3>Collaborating</h3>
<ul>
  {% for repo in user['repositories']['collaborating']%}
    <li> class="button repo white"
      <a
      href="{{url_for('repoShowByUserAndRepository',username=repo['owner'],repository=repo['name'])}}">
        {{repo['name']}}
      </a>
    </li>
  {% else %}
    <li>No Repositories</li>
  {% endfor %}
</ul>
{%endblock%}
