{% extends "layout.html" %}
{% block body %}
<h1>
  {{user['username']}}
</h1>

<h3>General</h3>
<ul class="info">
  <li>Email: {{user['email']}}</li>
  <li>Amount of Repositories: {{amountOfRepositories}}</li>
</ul>

<h3>Public repositories</h3>
<ul>
  {% for repo in user['repos']%}
    <li>
      <a
      href="{{url_for('repos',username=repo['owner']['username'],reponame=repo['name'])}}">
        {{repo['name']}}
      </a>
    </li>
  {% else %}
    <li>No Repositories</li>
  {% endfor %}
</ul>
{%endblock%}
