<ul class="repos">
{% for repo in repositories %}
    <li>
      <em>
        <a href="{{ url_for('repoShowByUserAndRepository',username=repo['owner']['name'],repository=repo['name']) }}">
          {{ repo['name'] }}
        </a>
      </em>
      by
     <a href="{{url_for('userShow', user=repo['owner']['name'])}}">
       {{ repo['owner']['name'] }}
     </a>
      -
      {% if repo['description'] %}
          {{ repo['description'] }}
      {% else %}
        No description available
      {% endif %}
    </li>
{% else %}
  <li>No repositories yet created</li>
{% endfor %}
</ul>
