<ul class="repos">
{% for repo in repositories %}
    <li class="button repo white">
      <em>
        <a href="{{ url_for('repos',username=repo['owner']['name'],reponame=repo['name']) }}">
          {{ repo['name'] }}
        </a>
      </em>
      by
     <a href="{{url_for('userShow', user=repo['owner']['name'])}}">
       {{ repo['owner']['name'] }}
     </a>
      -
      {% if repo['description'] %}
          {{ repo['description'] }}
      {% else %}
        No description available
      {% endif %}
      {% if repo['owner']['name'] == session['identity.name'] %}
      -
      <a href="{{url_for('repos',username=repo['owner']['name'],reponame=repo['name'])}}?__METHOD_OVERRIDE__=DELETE">
        delete
      </a>
      {% endif %}
    </li>
{% else %}
  <li>No repositories yet created</li>
{% endfor %}
</ul>
