{% extends "layout.html" %}
{% block body %}

<div id="repos-edit">
  <div class="header">
    <h2>{{ header }}</h2>
  </div>

  {% if repo and session['identity.name'] == repo['owner']['username'] %}
    <div class="right">
      <a href="{{url_for('repos',username=repo['owner']['username'],reponame=repo['name'])}}?__METHOD_OVERRIDE__=DELETE">
        Delete this Repository
      </a>
    </div>
  {% endif %}

  {% from "_formhelpers.html" import render_field, render_reverse_field %}
  <form method="post" action="{{action}}">
    {{ form.hidden_tag() }}
    <ul>
      <li>{{ render_field(form.name) }}</li>
      <li>{{ render_field(form.description) }}</li>
      <li>{{ render_field(form.contributers) }}</li>
      <li>{{ render_reverse_field(form.private) }}</li>
    </ul>
    <p><input class="button gray" type="submit" value="{{header}}" />
  </form>

</div>

{%endblock%}
