{% extends "layout.html" %}
{% block body %}

<h2>Repositories</h2>

<ul class="repos">
{% for repo in repositories %}
    <li>
      <em>
        <a href="{{ url_for('repoShowByUserAndRepository',username=repo['owner']['name'],repository=repo['name']) }}">
          {{ repo['name'] }}
        </a>
      </em>
      -
      {% if repo['description'] %}
          {{ repo['description'] }}
      {% else %}
        No description available
      {% endif %}
    </li>
{% else %}
  <li>No repositories yet created</li>
{% endfor %}
</ul>

{%endblock%}
