{% extends "layout.html" %}
{% block body %}

<h2>{{ user['name'] }}</h2>

<h3>Repositories</h3>

<ul class="repos">
{% for repo in repositories %}
    <li>
      <em>
        <a href="{{ url_for('repoShowByUserAndRepository', username=user['name'],repository=repo['name']) }}">
          {{ repo['name'] }}
        </a>
      </em>
      -
      {% if repo['description'] %}
          {{ repo['description'] }}
      {% else %}
        No description available
      {% endif %}
    </li>
{% else %}
{% endfor %}
  <li>No repositories yet created</li>
</ul>

{%endblock%}
