{% extends "layout.html" %}
{% block body %}
  <div id="repos-show">
    <div class="header">
      <h2>
        <a href="{{url_for('users', username=repo['owner']['username'])}}">{{repo['owner']['username']}}</a>
        /
        {{repo['name']}}
      </h2>

      <div class="right">
        {% if repo['owner']['username'] == session['identity.name'] %}
          <a href="{{url_for('repoEditForm',username=session['identity.name'],reponame=repo['name'])}}">Edit</a>
        {% endif %}
      </div>
    </div>
    <p class="description">
      {% if repo['description'] %}
      {{ repo['description'] }}
      {% else %}
      No description available
      {% endif %}
    </p>

    <!--
    <ul class="tabs">
      <li class="active"><a href="#">Commits</a></li>
      <li><a href="#">Source</a></li>
    </ul>-->

    <p class="clone">
      Clone this repository at
      <input type="text" class="cloneUrl" value="{{repo['cloneUrl']}}" />
    </p>

    <!--
    <h3>refs</h3>
    <ul>
      {% for branch in repo['git']['refs']%}
        <li>{{branch}}</li>
      {% endfor %}
    </ul>
    -->

    <!--
    <h3>Recent commits</h3>
    {% include 'commit/_list.html' %}
    -->

    <h3>Tree</h3>
    {% include 'tree/_show.html' %}

    {% if readme %}
    <h3>Readme</h3>
      {{ readme|safe }}
    {% endif %}

    {%endblock%}
</div>
