{% extends "layout.html" %}
{% block body %}

  <h2>
    <a href="{{url_for('users', username=repo['owner']['name'])}}">
      {{repo['owner']['name']}}
    </a>
    /
    {{repo['name']}}
    {% if repo['owner']['name'] == session['identity.name'] %}
    <a class="button green" href="{{url_for('repoEditForm',username=session['identity.name'],repository=repo['name'])}}">
      Edit
    </a>
    {% endif %}
  </h2>
  <p>
    <input type="text" value="ssh://user@localhost:5000/{{repo['owner']['name']}}/{{repo['name']}}" />
  </p>

  <p>
  {% if repo['description'] %}
      {{ repo['description'] }}
  {% else %}
    No description available
  {% endif %}
  </p>
  
  {% if repo['collaborators'] %}
  <h3>Collaborators</h3>
  <ul>
    {% for c in repo['collaborators']%}
      <li>
        <a href="{{url_for('users',username=c )}}">
          {{c}}
        </a>
      </li>
    {% endfor %}
  </ul>
  {% endif %}

  <h3>refs</h3>
  <ul>
    {% for branch in repo['git']['refs']%}
      <li>{{branch}}</li>
    {% endfor %}
  </ul>

  <h3>last commits</h3>
  {% include 'commit/_list.html' %}

{%endblock%}
