{% extends "layout.html" %}
{% block body %}

  <h2>{{repo['name']}}</h2>
  
  <p>
  {% if repo['description'] %}
      {{ repo['description'] }}
  {% else %}
    No description available
  {% endif %}
  </p>
  
  <ul>
    <li>Owner: {{repo['owner']['name']}}</li>
    <li>Email: {{repo['owner']['email']}}</li>
  </ul>

  <h3>Refs</h3>
  <ul>
    {% for branch in repo['git']['refs']%}
      <li>{{branch}}</li>
    {% endfor %}
  </ul>

  <p>
    <a href="{{url_for('commitsByUserAndRepo',username=repo['owner']['name'],repository=repo['name'])}}">
      commits
    </a>
  </P>
{%endblock%}
