<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>GID - Deleting a repository</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',
    filename='style.css')}}" />
  </head>

  <body>

    {% if session["identity.name"] %}
    <p>
      <a href="{{ url_for('logout') }}">logout</a>
    </p>
    {% else %}
      <form action="{{ url_for('login') }}" method="post">
        <ul>
          <li><input type="text" name="username" /></li>
          <li><input type="password" name="password" /></li>
          <li><input type="submit" value="Login" /></li>
        </ul>
      </form>
    {%endif%}

    {% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{category}}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}
  </body>
</html>
