<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>GID - Easy way of mainting GIT Repositories</title>
    <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='css/reset.css')}}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='css/960.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}" />
  </head>

  <body>
    <div id="header">

      <div class="container">

        <div id="title">
          <h1><a href="{{url_for('index')}}">Gid</a></h1>
        </div>

        <div id="nav">
           <ul>
             {% if session["identity.name"] %}
               <li>
                 Logged in as
                 <a href="{{url_for('users',username=session['identity.name'])}}">{{session['identity.name']}}</a>
               </li>
               <li><a href="{{url_for('repos',username=session['identity.name'])}}">Repositories</a></li>
               <li><a href="{{url_for('session')}}">Account</a></li>
               <li><a href="{{url_for('session')}}?__METHOD_OVERRIDE__=DELETE">Logout</a></li>
             {% else %}
               <li><a href="{{url_for('userNewForm')}}">register</a></li>
               <li><a href="{{url_for('session')}}">login</a></li>
             {%endif%}
           </ul>
         </div>
      </div>
    </div>

    <div id="content">
      {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
          <ul class="flash">
          {% for category, message in messages %}
            <li class="{{category}}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      {% block body %}{% endblock %}
    </div>

    <div id="footer">
      Gid is <em>open source</em>.
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function() {

        $('ul.tree li.directory:not(.back)').live('click', function(evt) {
          var url = $(evt.target).attr('data-json');

          $.get(url, function(data) {
            var elem = $(data);
            var back = $('<li class="directory back"><a href="#">..</a></li>');

            elem.children(".tree").prepend(back);

            var parentElem = $('div.page:last-child')
            parentElem.css('margin-left', '-1000px');
            $('#slider div.pages').append(elem);

            back.click(function() {
                parentElem.css('margin-left', '0px');

                var f = function() {
                  elem.remove();
                }

                parentElem.bind('webkitTransitionEnd', f);
                parentElem.bind('oTransitionEnd', f);
                parentElem.bind('transitionend', f);

                return false;
            });
          });
        });

      });
    </script>
  </body>
</html>
