{% if tree is sequence %}
  <ul class="tree">
    {% for item in tree recursive %}
      {% if item['type'] == 'folder' %}
        <li class="directory">
          <img src="{{url_for('static', filename='images/folder.png')}}" alt="directory"  class="directory" />
          {{ item['path'] }}
          <ul>
            {{ loop(item['childs']) }}
          </ul>
        </li>
      {% else %}
        <li class="file">
          <a href="{{url_for('blobByUserandRepoAndSha', username=repo['owner']['username'],repository=repo['name'],sha=item['sha'])}}">
            {{ item['path'] }}
          </a>
        </li>
      {% endif %}
    {%endfor%}
  </ul>
{% else %}
<p>No files yet commited</p>
{% endif %}
