{% macro render_commit(commit, repo) %}
    <p class="message">
      {{commit['message']}}
    </p>

    <div class="info">
      <div class="author">
        {{commit['date']}}
        by
        {{commit['committer']['name']}}
      </div>

      <div class="sha">
        <a
        href="{{url_for('commitByUserAndRepoAndSha',username=repo['owner']['username'],repository=repo['name'],sha=commit['sha'])}}">
          {{commit['sha']}}
        </a>
      </div>
    </div>
{% endmacro %}

<ol class="commits">
{% for commit in commits %}
  <li class="commit">
    {{ render_commit(commit,repo) }}
  </li>
{% else %}
  <li>No commits so far</li>
{% endfor %}
</ol>
