{% extends "repository/_base.html" %}

{% block navigation %}
    <ul class="tabs">
      <li>
        <a href="{{
                url_for('repos',
                    username = repo['owner']['username'],
                    reponame = repo['name'])
        }}">
          Source
        </a>
      </li>
      <li>
        <a href="{{
                url_for('commitsByUserAndRepo',
                    username = repo['owner']['username'],
                    repository = repo['name'])
        }}">
          Commits
        </a>
      </li>
      {% if readmeSha %}
        <li>
          <a href="{{
                 url_for('blobByUserAndRepoAndSha',
                    username = repo['owner']['username'],
                    repository = repo['name'],
                    sha = readmeSha)
          }}">
            Readme
          </a>
        </li>
      {% endif %}
    </ul>
{% endblock %}

{% block repo %}
  <div id="commit-show">
    <p class="message">
      {{commit['message']}}
    </p>

    <ul class="info">
      <li>Author: {{commit['author']['name']}}</li>
      <li>Committer: {{commit['committer']['name']}}</li>
      <li>Time: {{commit['committer']['date']}}</li>
    </ul>

    <h3>Source</h3>
    <div id="slider">
      <div class="pages">
        {% include 'tree/_show.html' %}
      </div>
    </div>

    <h3>Changes</h3>
    {{commit['changes']|safe}}
  </div>
{%endblock%}
