{% extends "repository/_base.html" %}

{% block navigation %}
    <ul class="tabs">
      <li>
        <a href="{{
                url_for('repos',
                    username = repo['owner']['username'],
                    reponame = repo['name'])
        }}">
          Source
        </a>
      </li>
      <li>
        <a href="{{
                url_for('commitsByUserAndRepo',
                    username = repo['owner']['username'],
                    repository = repo['name'])
        }}">
          Commits
        </a>
      </li>
      {% if readmeSha %}
        <li>
          <a href="{{
                 url_for('blobByUserAndRepoAndSha',
                    username = repo['owner']['username'],
                    repository = repo['name'],
                    sha = readmeSha)
          }}">
            Readme
          </a>
        </li>
      {% endif %}
    </ul>
{% endblock %}

{% block repo %}
  <div id="commit-show">

    {% from "commit/_list.html" import render_commit %}

    <div class="commit">
      {{ render_commit(commit, repo)}}
    </div>


    <h3>Changes</h3>
    {{commit['changes']|safe}}

    <h3>Source</h3>
    <div id="slider">
      <div class="pages">
        {% include 'tree/_show.html' %}
      </div>
    </div>
  </div>
{%endblock%}
